<h1 class="edit-title">Editar</h1>

<%= render "form", lead: @lead %>

<br>

<div class="container-links-lead">
  <%= link_to "Volver", leads_path, class:"return-btn-new" %>
  <%= link_to "Ver Lead", @lead, class:"ver-btn-new" %>
</div>
