<h1 class="">Editar</h1>

<%= render "form", lead: @lead %>

<br>

<div class="container-links-lead">
  <%= link_to "Volver", leads_path, class:"" %>
  <%= link_to "Ver Lead", @lead, class:"" %>
</div>
