<div class="container">
  <div class="wrapper">
    <h1>Nuevo Lead</h1>

    <%= render "form", lead: @lead %>

    <br>

    <div>
      <%= link_to "Back to leads", leads_path %>
    </div>
  </div>
</div>