<div class="">
  <%= render @lead %>
</div>

<div class="btn-container">
  <%= link_to "Regresar", leads_path, class:'btn-return' %>
  <%= link_to "Editar Lead", edit_lead_path(@lead), class:'btn-edit-lead' %>
  <%= button_to "Eliminar", @lead, method: :delete, class:'btn-delete-lead', data: {confirm: "Estas seguro?"} %>
</div>
