<div style="background-image: url(https://images.pexels.com/photos/953166/pexels-photo-953166.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 92vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
    top: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;">
  <h4 class="text-red-500 dark:text-red-400 leading-6">
    próximamente
  </h4>
  <h1 class="font-bold text-4xl">El Legado</h1>
  <div class="bg-white border-slate-100 dark:bg-slate-800 dark:border-slate-500 border-b rounded-t-xl p-4 pb-6 sm:p-10 sm:pb-8 lg:p-6 xl:p-10 xl:pb-8 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8">
  <div class="flex items-center space-x-4">
    <img src="https://gabrielapostal.netlify.app/static/media/gabre.e312603731aca7219649.png" alt="" width="220" height="220" class="flex-none rounded-lg bg-slate-100" loading="lazy" />
    <div class="min-w-0 flex-auto space-y-1 font-semibold">

      <h2 class="text-slate-500 dark:text-slate-400 text-sm leading-6 truncate">
        
      </h2>
      <p class="text-slate-900 dark:text-slate-50 text-lg">
        Gabriela Rodriguez
      </p>
    </div>
  </div>

</div>
</div>
